@import url(./style.css);
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  gap: 25px;
  display: flex;
  flex-direction: row;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
.description {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    height: 250px;
    overflow-x: scroll;
    overflow-y: auto;
}