:root{
    --bg: #1a1c22;
    --border: #ffe257;
    --accent: #942626;
    --accent2: #b15c34;
    --accent3: #6a5960;
    --accent4: #54353d;
    --text: white;
}
@media (min-width:901px){
   .nav button{ flex-direction:row;
  align-items:center;
  justify-content:center; }
}
body{
    background-color: var(--bg);
    align-items: center;
}
.flexContainer{
    display: flex;
    justify-content: center;
}
.borderBox{
    border: 1px solid var(--border);
    border-width: 2px;
    width: 90vh;
    justify-content: center;
    background-color: var(--accent4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}
.homePageHeader{
    color: var(--text);
    display: flex;
    justify-content: center;
}
.nav ul{
  display:flex; flex-direction:column; gap:.5rem;
}
button{
    padding: 10px 15px;
    background-color: var(--accent2) ;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    align-self: hover;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
button:hover{
    background-color: var(--accent);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}
.buttonClass{
    display: flex;
    justify-content: center;
}
.bookCovers{
    display: flex;
    justify-content: center;
    
}
p{
    text-align: center;
    color: var(--text);
}
img{
    border-radius: 10px;
}